/* ---------- WHOLE SITE --------- */

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body { 
    background-color: powderblue; 
}


/* ---------- END WHOLE SITE --------- */



h1 { 
    color: blue; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

p {
    color: red; 
}


/* ---- MIDDLE SECTION ---- */
#paraGreen {
    color:green;

}

.center {
    text-align:center;
}

.large {
    font-size: 300%;
}


.highlight {
    background-color: fuchsia;
}

.border1 {
    border: 4px solid rgba(255,0,0,0.5);
}

/* ------------ FOOTER ---------- */